<!DOCTYPE html>
<html>

<head>

<style>

body{

font-family:Arial;

background:#f4f4f4;

}

.container{

width:600px;

background:white;

padding:30px;

margin:auto;

border-radius:8px;

}

.button{

background:#2563eb;

padding:15px;

color:white;

text-decoration:none;

border-radius:5px;

}

</style>

</head>

<body>

<div class="container">

<h2>Hello {{UserName}}</h2>

<p>You requested to reset your password.</p>

<p>

<a class="button" href="{{ResetLink}}">

Reset Password

</a>

</p>

<p>This link expires in 15 minutes.</p>

</div>

</body>

</html>